<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>API Endpoints</title>
</head>

<body>
    <div class="container">
        <h2>API Endpoints</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>API Endpoints</th>
                    <th>Description</th>
                    <th>view links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>/jewellery</td>
                    <td>Create a new jewellery item</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>/jewellery</td>
                    <td>Get all jewellery items (see data schema)</td>
                    <td><a class="btn btn-primary" href="jewellery">view</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>/jewellery/&lt;id&gt;</td>
                    <td>Get a specific jewellery item</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>/jewellery/&lt;id&gt;</td>
                    <td>Update a specific jewellery item</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>/jewellery/&lt;id&gt;</td>
                    <td>Delete a specific jewellery item</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>/filterjewellery</td>
                    <td>Filter jewellery items</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>/signup</td>
                    <td>Sign up a new user</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>/login</td>
                    <td>User login</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>/users</td>
                    <td>Get all users</td>
                    <td><a class="btn btn-primary" href="users">view</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
